        <div data-ng-controller="ListPagesController" data-ng-hide="loginService.stateLoggedIn != loginService.LOGGED_IN" class="well">
          <h2>Dina senaste artiklar</h2>
          <div data-ng-repeat="article in articles" class="article">
            <h2>
              <a href="{{article.url}}" data-ng-bind="article.title"></a>
            </h2>
            <div class="tags">
              <span data-ng-repeat="tag in article.tags" class="label label-{{tag.type}}" style="margin-right: 0.5em;">
                {{tag.name}}
              </span>
            </div>
          </div>
        </div>
