<div ng-include="'view/login.html'"></div>
<div ng-include="'view/visualization.html'"></div>

<div data-ng-controller="ListPagesController" data-ng-hide="loginService.stateLoggedIn != loginService.LOGGED_IN" class="panel panel-primary">
  <div class="panel-heading">Dina senaste artiklar</div>
  <div class="panel-body">
    <div data-ng-repeat="article in articles" class="list-group">
      <h4 class="list-group-item-heading">
        <a href="{{article.url}}" data-ng-bind="article.title"></a>
      </h4>
      <div class="tags">
        <span data-ng-repeat="tag in article.tags" class="label label-{{tag.type}}" style="margin-right: 0.5em;">
        {{tag.name}}
        </span>
      </div>
    </div>
  </div>
</div>
