<div class="row" ng-show="loginService.stateLoggedIn != loginService.LOGGED_IN" >
  <div class="col-xs-12">
    <div class="panel panel-danger">
      <div class="panel-heading">Observera</div>
      <div class="panel-body" >Hej
<p>Här är demokratiappens beta-gränssnitt. Prova gärna att skapa en användare och att lägga in taggar, men observera att allt är under utveckling och vi FÖRVÄNTAR oss att vi kommer behöva tömma databasen med registrerade användare och inmatade taggar. Det finns i dagsläget inga garantier för att inmatad data sparas på ett integritetsäkert sätt (detta kommer naturligtvis förbättras till slutversionen).</p>

<p>Installera Demokratiappens bookmarklet genom att dra knappen till ditt bokmärkesfält.<br/>
<a href="javascript:function dar1(){var d=document,z,b=d.body,l=d.location;try{if(!b)throw(0);d.title='(Saving...) '+d.title;z=d.createElement('script');z.setAttribute('src',l.protocol+'//demokratiappen.se/scripts/Scrape.js');b.appendChild(z)}catch(e){alert('Please wait until the page has loaded.')}}dar1();void(0)" title="Demokratiappen" class="btn btn-primary">Demokratiappen</a><p>

<p>Vänlig hälsning<br/>
/Demokratiappens teknikgrupp</p>
      </div>
    </div>
  </div>
</div>

<div ng-controller="LoginController" class="row">
  <div ng-show="loginService.stateLoggedIn != loginService.LOGGED_IN" class="col-xs-12 panel">

    <div class="panel panel-default">
      <div class="panel-body">

    <div class="alert alert-info" ng-show="loginService.stateLoginProcess == loginService.LOADING">
      Loggar in...
    </div>
    <div class="alert alert-danger alert-dismissable" ng-show="loginService.stateLoginProcess == loginService.LOGIN_FAILED">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      Inloggning misslyckades. Kontrollera att ditt användarnamn och lösenord är korrekt.
    </div>
    <div class="alert alert-danger alert-dismissable" ng-show="loginService.stateLoginProcess == loginService.REGISTRATION_FAILED">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      Registrering misslyckades. Du kanske har valt ett användarnamn som redan används. Försök igen senare.
    </div>

    <!-- Login form -->
    <form role="form" ng-show="loginService.stateLoginProcess != loginService.LOADING && state.currentState == state.LOGIN">
      <div class="form-group">
        <label for="loginUsernameInput">Användarnamn</label>
        <input type="text" class="form-control" data-ng-model="loginService.username" id="loginUsernameInput" placeholder="Skriv ditt användarnamn">
      </div>
      <div class="form-group">
        <label for="loginPasswordInput">Lösenord</label>
        <input type="password" data-ng-model="loginService.password" id="loginPasswordInput" class="form-control" placeholder="Skriv ditt lösenord">
      </div>

      <button data-ng-click="login()" class="btn btn-primary btn-block btn-lg">Logga in</button>
      <hr>
     </form>

    <!-- Signup form -->
    <form role="form" ng-show="loginService.stateLoginProcess != loginService.LOADING && state.currentState == state.SIGNUP">
      <div class="form-group">
        <label for="loginUsernameInput">Användarnamn</label>
        <input type="text" class="form-control" data-ng-model="loginService.username" id="loginUsernameInput" placeholder="Skriv ditt användarnamn">
      </div>
      <div class="form-group">
        <label for="loginEmailInput">E-post</label>
        <input data-ng-model="loginService.email" id="loginEmailInput" class="form-control" placeholder="Skriv din epost-adress. (Valfritt)">
      </div>
      <div class="form-group">
        <label for="loginPasswordInput">Lösenord</label>
        <input type="password" data-ng-model="loginService.password" id="loginPasswordInput" class="form-control" placeholder="Skriv ditt lösenord">
      </div>

      <button data-ng-click="signup()" class="btn btn-primary btn-block">Skapa konto</button>
      <hr>
    </form>

    <label>eller anslut med</label><br/>
    <a href="#" data-ng-click="loginOrSignupFacebook()"><img src="/images/facebook.png"></a>

    </div></div>
    <span ng-show="state.currentState == state.LOGIN">Har du inget konto? <a href="#/signup">Skapa ditt eget konto här</a> eller <a data-ng-click="loginAsGuest()">logga in som gästanvändaren 'Sandra'.</a>
</span>
    <span ng-show="state.currentState == state.SIGNUP">Har du redan ett konto? <a href="#/login">Logga in.</a></span>

  </div>
</div>
