<div ng-controller="LoginController">
  <div ng-show="loginService.stateLoggedIn != loginService.LOGGED_IN">
    <div class="alert alert-info">
      <h3 ng-show="loginService.stateLoginProcess == loginService.LOADING">
        Loggar in...
      </h3>
    </div>
    <div class="alert alert-danger alert-dismissable" ng-show="loginService.stateLoginProcess == loginService.LOGIN_FAILED">
      <h3>
        Inloggning misslyckades. Kontrollera att ditt användarnamn och lösenord är korrekt.
      </h3>
    </div>
    <div class="alert alert-danger alert-dismissable" ng-show="loginService.stateLoginProcess == loginService.REGISTRATION_FAILED">
      <h3>
        Registrering misslyckades. Försök igen senare.
      </h3>
    </div>

    <form role="form" ng-show="loginService.stateLoginProcess != loginService.LOADING">
      <div class="form-group">
        <label for="loginUsernameInput">Användarnamn</label>
        <input type="text" class="form-control" data-ng-model="loginService.username" id="loginUsernameInput" placeholder="Skriv ditt användarnamn">
      </div>
      <div class="form-group">
        <label for="loginPasswordInput">Lösenord</label>
        <input type="password" data-ng-model="loginService.password" id="loginPasswordInput" class="form-control" placeholder="Skriv ditt lösenord">
      </div>

      <button data-ng-click="loginService.signUp()" class="btn btn-default" style="margin-right: 100px; float: right">Registrera</button>
    </form>
  </div>
</div>
