        <div data-ng-controller="StatisticsController" data-ng-hide="loginService.stateLoggedIn != loginService.LOGGED_IN" class="panel panel-primary">
          <div class="panel-heading">Statistik</div>
          <div class="panel-body">
          <table>
          <thead>
            <tr>
              <th>Tag</th>
              <th>Negativt</th>
              <th>/</th>
              <th>Positivt</th>
            </tr>
          </thead>
          <tbody data-ng-repeat="tag in tags">
          <tr>
            <td data-ng-bind="tag.name">
            </td>
            <td>
              <div style="float:right; width: {{250*tag.negativeCount/tagCount}}px; background-color: red; height: 1em;"></div>
            </td>
	    <td></td>
            <td>
              <div style="width: {{250*tag.positiveCount/tagCount}}px; background-color: green; height: 1em;"></div>
            </td>
          </tbody>
          </table>
          </div>
        </div>
