.da-bg-green, .da-bg-green:hover, .da-bg-green:focus {
  background-color: #4F4;
}

.da-bg-red, .da-bg-red:hover, .da-bg-red:focus {
  background-color: #F44;
}

.btn-default[disabled] {
  background-color: #BBB;
}

.md-modal {
    max-width: 480px;
    max-height: 100%;
    z-index: 2000;
    backface-visibility: hidden;
    margin: 0 auto;
}

.md-show {
    visibility: visible;
}

.md-overlay {
    overflow: auto;
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    background: rgba(0,0,0,0.8);
    transition: opacity 0.4s, visibility 0.4s;
}

.md-show.md-overlay {
    opacity: 1;
    visibility: visible;
}

.md-content {
	color: #000;
	background: #fff;
	position: relative;
	border-radius: 3px;
	margin: 0 auto;
  overflow: hidden;
  padding: 15px;
}

.md-content h3 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
	font-size: 2.4em;
	font-weight: 300;
	opacity: 0.8;
	background: rgba(0,0,0,0.1);
	border-radius: 3px 3px 0 0;
}

h3.md-success {
	margin: 0 0 20px 0;
	background: #4f4;
}

h3.md-failure {
	margin: 0 0 20px 0;
	background: #f44;
}

.md-content button {
	margin: 0 auto;
	font-size: 0.8em;
  font-weight: bold;
}


