.md-modal {
    max-width: 480px;
    max-height: 100%;
    z-index: 2000;
    backface-visibility: hidden;
    margin: 0 auto;
}
 
.md-show {
    visibility: visible;
}

.md-overlay {
    overflow: auto;
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    background: rgba(0,0,0,0.8);
    transition: opacity 0.4s, visibility 0.4s;
}

.md-show.md-overlay {
    opacity: 1;
    visibility: visible;
}

.md-content {
	color: #000;
	background: #fff;
	position: relative;
	border-radius: 3px;
	margin: 0 auto;
  overflow: hidden;
}

.md-content h3 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
	font-size: 2.4em;
	font-weight: 300;
	opacity: 0.8;
	background: rgba(0,0,0,0.1);
	border-radius: 3px 3px 0 0;
}

.md-success .md-content h3 {
	background: #4f4;
}

.md-failure .md-content h3 {
	background: #f44;
}

.md-content > div {
	padding: 15px 40px 30px;
	margin: 0;
	font-weight: 300;
	font-size: 1.15em;
}

.md-content > div p {
	margin: 0;
	padding: 10px 0;
}

.md-content > div ul {
	margin: 0;
	padding: 0 0 30px 20px;
}

.md-content > div ul li {
	padding: 5px 0;
}

.md-content button {
	display: block;
	margin: 0 auto;
	font-size: 0.8em;
  font-weight: bold;
}


