{
    "applications": {
        "Demokratiappen": {
            "applicationId":   "ENTER_APPLICATION_ID_HERE",
            "masterKey":       "ENTER_MASTER_KEY_HERE",
            "javascriptKey":   "JAVASCRIPT_KEY",
            "saploApiKey":     "SAPLO_API_KEY",
            "saploSecretKey":  "SAPLO_SECTRET_KEY"
        },
        "_default": {
            "link": "Demokratiappen"
        }
    },
    "global": {
        "parseVersion": "1.2.16"
    }
}
